<div *ngIf="match">
  <div class="row">
    <div class="col-12">
      <h1>Match</h1>
      <h2>Validated by {{ match.validator.pseudo }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1>GLOBAL STATS</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h2>Red team</h2>
      <p>Score: {{ match.rScore }}</p>
      <table>
        <thead>
          <th>ID</th>
          <th>PSEUDO</th>
          <th>SCORE</th>
          <th>TAGS</th>
          <th>POPPED</th>
          <th>GRABS</th>
          <th>DROPS</th>
          <th>HOLDS</th>
          <th>CAPTURES</th>
          <th>PREVENT</th>
          <th>RETURNS</th>
          <th>SUPPORT</th>
          <th>PUPS</th>
        </thead>
        <tr *ngFor="let player of match.redTeam" routerLink="/players/{{player.id}}" class="pointer">
          <td>{{ player.id }}</td>
          <td>{{ player.pseudo }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.score }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.tags }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.popped }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.grabs }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.drops }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.holds }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.captures }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.prevent }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.returns }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.support }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.pups }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h2>Blue team</h2>
      <p>Score: {{ match.bScore }}</p>
      <table>
        <thead>
          <th>ID</th>
          <th>PSEUDO</th>
          <th>SCORE</th>
          <th>TAGS</th>
          <th>POPPED</th>
          <th>GRABS</th>
          <th>DROPS</th>
          <th>HOLDS</th>
          <th>CAPTURES</th>
          <th>PREVENT</th>
          <th>RETURNS</th>
          <th>SUPPORT</th>
          <th>PUPS</th>
        </thead>
        <tr *ngFor="let player of match.blueTeam" routerLink="/players/{{player.id}}" class="pointer">
          <td>{{ player.id }}</td>
          <td>{{ player.pseudo }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.score }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.tags }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.popped }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.grabs }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.drops }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.holds }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.captures }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.prevent }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.returns }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.support }}</td>
          <td *ngIf="player.statistics">{{ player.statistics.pups }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
