<div class="row" *ngIf='currentSeason'>
  <div class="col-12">
    <h1>Current Season</h1>
    <table>
      <thead>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Max Time</th>
        <th>Matches</th>
        <th>Max Matches</th>
      </thead>
      <tbody>
        <tr routerLink="/seasons/{{ currentSeason.id }}" class="pointer">
          <td>{{ currentSeason.name }}</td>
          <td>{{ currentSeason.startTime | date: 'EEE dd yyyy, HH:mm' }}</td>
          <td>{{ currentSeason.endTime | date: 'EEE dd yyyy, HH:mm' }}</td>
          <td>{{ currentSeason.maxTime ? currentSeason.maxTime + ' days' : ''}}</td>
          <td>{{ currentSeason.playedMatches }}</td>
          <td>{{ currentSeason.maxMatches }}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="endSeason(currentSeason)">End season</button>
  </div>
</div>

<div class="row" *ngIf='!currentSeason'>
  <div class="col-12">
    <h1>Current Season</h1>
    <form #newSeasonForm="ngForm" (ngSubmit)="createSeason(newSeasonForm)">
      <label class='col-sm-2' for="name">Name</label>
      <input type="text" name="name" class="col-sm-8 form-control" ngModel required>
      <br>
      <label class='col-sm-2' for="maxMatches">Max matches</label>
      <input type="text" name="maxMatches" class="col-sm-8 form-control" ngModel pattern="\d+">
      <br>
      <label class='col-sm-2' for="maxTime">Max days</label>
      <input type="text" name="maxTime" class="col-sm-8 form-control" ngModel pattern="\d+">
      <br>
      <hr>
      <button type="submit" [disabled]='!newSeasonForm.form.valid'>Launch new season</button>
    </form>
  </div>
</div>

<div class="row" *ngIf='passedSeasons.length > 0'>
  <div class="col-12">
    <h1>Passed seasons</h1>
    <table>
      <thead>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Max Time</th>
        <th>Matches</th>
        <th>Max Matches</th>
      </thead>
      <tbody>
        <tr *ngFor="let season of passedSeasons" routerLink="/seasons/{{ season.id }}" class="pointer">
          <td>{{ season.name }}</td>
          <td>{{ season.startTime | date: 'EEE dd yyyy, HH:mm' }}</td>
          <td>{{ season.endTime | date: 'EEE dd yyyy, HH:mm' }}</td>
          <td>{{ season.maxTime ? season.maxTime + ' days' : ''}}</td>
          <td>{{ season.playedMatches }}</td>
          <td>{{ season.maxMatches }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
