<div class="row" *ngIf="!loggedIn">
  <div class="col-12">
    <h1>LOGIN</h1>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <label class='col-sm-2' for="trigram">Trigram</label>
      <input type="text" name="pseudo" class="col-sm-8 form-control" ngModel>
      <br>
      <label class='col-sm-2' for="password">Password</label>
      <input type="password" name="password" class="col-sm-8 form-control" ngModel>
      <br>
      <hr>
      <button type="submit">Login</button>
    </form>
  </div>
</div>
<div class="row" *ngIf="loggedIn">
  <div class="col-12">
    <H1>LOGGED IN</H1>
    <button (click)="logout()">Log out</button>
  </div>
</div>