<div class="row" *ngIf="!loggedIn">
  <div class="col-12">
    <h1>LOGIN</h1>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <label for="trigram">Pseudo</label>
      <input type="text" name="pseudo" class="form-control" ngModel>
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" ngModel>
        <button type="submit">Login</button>
    </form>
  </div>
</div>
<div class="row" *ngIf="loggedIn">
  <div class="col-12">
    <H1>LOGGED IN</H1>
    <button (click)="logout()">Log out</button>
  </div>
</div>