<div class="row">
  <div class="col-12">
    <h1>Players</h1>
    <table>
      <thead>
        <!-- <th>ID</th> -->
        <th>Preferred pseudo</th>
        <th>Awards</th>
      </thead>
      <tbody>
        <tr *ngFor="let player of getActivePlayers()" routerLink="/players/{{ player.id }}" class="pointer">
          <!-- <td class='text-right'>{{ player.id }}</td> -->
          <td class='text-right'>{{ player.pseudo }}</td>
          <td>
            <stars [player]="player"></stars>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row" *ngIf='tagApiService.isLoggedIn()'>
  <div class="col-12">
    <h1>CREATE USER</h1>
    <form #newPlayerForm="ngForm" (ngSubmit)="createUser(newPlayerForm)">
      <label for="create-trigram">Trigram </label>
      <input type="text" name="trigram" class="form-control" ngModel pattern='[a-z]{3}' required>
      <br>
      <label for="create-pseudo">Pseudo </label>
      <input type="text" name="pseudo" class="form-control" ngModel minlength="3" required>
      <br>
      <hr>
      <button type='submit' [disabled]='!newPlayerForm.form.valid'>ADD USER</button>
    </form>
  </div>
</div>
<div class="row" *ngIf='tagApiService.isLoggedIn() && getInactivePlayers().length > 0'>
  <div class="col-12">
    <h1>Disabled Players</h1>
    <table>
      <thead>
        <th>ID</th>
        <th>Preferred pseudo</th>
        <th>Awards</th>
      </thead>
      <tbody>
        <tr *ngFor="let player of getInactivePlayers()">
          <td class='text-right'>{{ player.id }}</td>
          <td class='text-right'>{{ player.pseudo }}</td>
          <td>
            <stars [player]="player"></stars>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
