<img *ngFor="let _ of _helper.arrayGen(player.goldStars)" src='/assets/images/gold_star.png' class='star' title="Gold Stars">
<img *ngFor="let _ of _helper.arrayGen(player.silverStars)" src='/assets/images/silver_star.png' class='star' title="Silver Stars">
<img *ngFor="let _ of _helper.arrayGen(player.bronzeStars)" src='/assets/images/bronze_star.png' class='star' title="Bronze Stars">
<img *ngFor="let _ of _helper.arrayGen(player.loserStars)" src='/assets/images/loser_star.png' class='star' title="Loser Stars">