<button routerLink="/new_match">Add match</button>

<div class="row" *ngIf="pendingMatches.length > 0">
  <div class="col-12">
    <h1>Pending matches</h1>
    <table>
      <thead>
        <!-- <th>ID</th> -->
        <th>Red score</th>
        <th>Blue score</th>
        <th>Duration</th>
        <th>Date</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let match of pendingMatches" class='pointer'>
          <!-- <td routerLink="/matches_pending/{{ match.id }}">{{ match.id }}</td> -->
          <td routerLink="/matches_pending/{{ match.id }}" class='text-right'>{{ match.rScore }}</td>
          <td routerLink="/matches_pending/{{ match.id }}">{{ match.bScore }}</td>
          <td routerLink="/matches_pending/{{ match.id }}">{{ match.duration * 1000 | date: 'mm:ss'}}</td>
          <td routerLink="/matches_pending/{{ match.id }}" class='text-right'>{{ match.datetime | date: 'EEE dd yyyy, HH:mm'}}</td>
          <td>
            <button *ngIf='authService.isLoggedIn()' (click)="confirmPendingMatch(match.id)">Confirm</button>
          </td>
          <td>
            <button *ngIf='authService.isLoggedIn()' (click)="deletePendingMatch(match.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row" *ngIf="matches.length > 0">
  <div class="col-12">
    <h1>Match history</h1>
    <table>
      <thead>
        <!-- <th>ID</th> -->
        <th>Red score</th>
        <th>Blue score</th>
        <th>Duration</th>
        <th>Date</th>
        <th>Validator</th>
        <th>Season</th>
      </thead>
      <tbody>
        <tr *ngFor="let match of matches" routerLink="/matches/{{ match.id }}" class='pointer'>
          <!-- <td>{{ match.id }}</td> -->
          <td class='text-right'>{{ match.rScore }}</td>
          <td>{{ match.bScore }}</td>
          <td>{{ match.duration * 1000 | date: 'mm:ss'}}</td>
          <td class='text-right'>{{ match.datetime | date: 'EEE dd yyyy, HH:mm'}}</td>
          <td>{{ match.validator.pseudo }}</td>
          <td>{{ match.season ? match.season.name : '' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
