<button routerLink="/new_match">Add match</button>

<div class="row">
  <div class="col-12">
    <h1>Pending matches</h1>
    <table>
      <thead>
        <th>ID</th>
        <th>Red score</th>
        <th>Blue score</th>
        <th>Date</th>
        <th>Season</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let match of pendingMatches" routerLink="/matches_pending/{{ match.id }}" class='pointer'>
          <td>{{ match.id }}</td>
          <td class='text-right'>{{ match.rScore }}</td>
          <td>{{ match.bScore }}</td>
          <td class='text-right'>{{ match.datetime | date: 'EEE dd yyyy, HH:mm'}}</td>
          <td>Season</td>
          <td>
            <button *ngIf='authService.isLoggedIn()' (click)="confirmPendingMatch(match.id)">Confirm</button>
          </td>
          <td>
            <button *ngIf='authService.isLoggedIn()' (click)="deletePendingMatch(match.id)">Delete</button>
          </td>
        </tr>
        <tr *ngIf="pendingMatches.length == 0">
          <td>All clear</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>Match history</h1>
    <table>
      <thead>
        <th>ID</th>
        <th>Red score</th>
        <th>Blue score</th>
        <th>Date</th>
        <th>Validator</th>
        <th>Season</th>
      </thead>
      <tbody>
        <tr *ngFor="let match of matches" routerLink="/matches/{{ match.id }}" class='pointer'>
          <td>{{ match.id }}</td>
          <td class='text-right'>{{ match.rScore }}</td>
          <td>{{ match.bScore }}</td>
          <td class='text-right'>{{ match.datetime | date: 'EEE dd yyyy, HH:mm'}}</td>
          <td>{{ match.validator.pseudo }}</td>
          <td>{{ match.season ? match.season.name : '' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
