$tag-gray: #262626;
$tag-light-gray: #3C3C3C;
$tag-dark-gray: #212121;
$tag-green: #74BB41;
$tag-green-btn: #C7D732;
$text-green: #3C3C3C;
$tag-blue: #0E7FDC;
$text-gray: #e0e0e0;
$text: #fff;
$text-dark: #222;
$tag-red: #EA4F50;

$win-green: #64CB57;
$tie-orange: #F5C150;
$lose-red: #EC6A5F;
