/* You can add global styles to this file, and also import other style files */

@import "_variables.scss";
// GLOBAL STYLES
html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
  background-color: $tag-gray;
  color: $text;
  font-size: 16px;
}

h1 {
  color: #8BC34A;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 2px solid #1b1b1b;
}

h3 {
  color: #8BC34A;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #565656;
}

button {
  text-align: center;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  color: $text-dark;
  padding: .5em;
  background: $tag-green-btn;
  margin-bottom: 13px;
  border-radius: 3px;
  border: 1px solid #827717;
  box-shadow: 0 3px #827717;
  cursor: pointer;
  &:disabled{
    background-color: gray;
    border: 1px solid darken(gray, 20%);
    box-shadow: 0 3px darken(gray, 20%);
  }

  &.red{
     border: 1px solid darken($tag-red, 20%);
     box-shadow: 0 3px darken($tag-red, 20%);
  }
   &.blue {
     border: 1px solid darken($tag-blue, 20%);
     box-shadow: 0 3px darken($tag-blue, 20%);
   }

}

.blue-button {
  cursor: pointer;
  color: $text;
  background: #0E7FDC;
  border: 1px solid #095C96;
  box-shadow: 0 3px #095C96;
  border-radius: 3px;
  width: 128px;
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
}

.gray-button {
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  background: $tag-light-gray;
  border: 1px solid #404040;
  padding: 8px 10px;
  border-radius: 3px;
  color: $text-gray;
  font-size: 14px;
  box-shadow: none;
}

.form-control {
  // width: auto;
  display: inline-block;
  color: $text;
  background: $tag-dark-gray;
  border: 1px solid #5f5f5f;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.42;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  &:focus {
    background: $tag-dark-gray;
    border-color: #8BC34A;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(139, 195, 74, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(139, 195, 74, 0.6);
  }
}

label {
  display: inl
}

a {
  color: #8BC34A;
  text-decoration: none;
  &:hover {
    color: #689F38;
    text-decoration: none;
  }
}

table {
  min-width: 700px;
  border-collapse: collapse;
  border-spacing: 0;
  border-top-color: gray;
  border-right-color: gray;
  border-bottom-color: gray;
  border-left-color: gray;
  margin-bottom: 20px;
  thead {
    background: #8BC34A;
    color: #232323;
  }
  th {
    padding: 0.2em 0.5em;
  }
  tr {
    border: 1px solid #212121;
    border-bottom: 1px solid #2D2D2D;
    border-top: none;
    background: #353535;
    td {
      padding: 0.2em 0.5em;
    }
    &:nth-child(2n) {
      background: #404040;
    }
    &:hover{
      color: $tag-green;
    }

  }
}

.pointer {
  cursor: pointer;
}

.text-right {
  text-align: right !important;
}

hr {
  border-top: 1px solid #3c3c3c;
}

.group {
  margin-bottom: 20px;
  .header {
    background: #8BC34A;
    color: #000;
    padding: 8px;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
  }
  .content {
    background: #353535;
    border-radius: 0 0 3px 3px;
    border: 1px solid #404040;
    border-top: 1px solid #2b2b2b;
    padding: 10px;
    overflow-y: auto;
    li {
      cursor: pointer;
    }
  }
}

.red {
  background-color: $tag-red !important;
  color: $text !important;
}

.blue {
  background-color: $tag-blue !important;
  color: $text !important;
}

.star{
  width: 20px;
}

.hover:hover{
  color: $tag-green;
}