#home-container {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.option {
  width: 50%;
  height: 50%;
  float: left;
  position: relative;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.option-name {
  position: relative;
  float: left;
  left: 50%;
  top: 50%;
}

#algo {}

#match-history {}

#admin {}

#hall-of-fame {}
