<div class='topbar'>
  <div class='part-1'>
    <img src="/assets/images/tagpro_eki.png">
    <div>
      <div class="blue-button" *ngIf='!authService.isLoggedIn()' routerLink="/auth">Log In</div>
      <div class="blue-button" *ngIf='authService.isLoggedIn()' (click)='authService.logout()'>Log Out</div>
      <div class='gray-button' routerLink="/players">Players</div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 tabs'>
      <div class='tab' routerLink="/home" routerLinkActive="active">
        Home
      </div>
      <div class='tab' routerLink="/algo" routerLinkActive="active">
        Algo
      </div>
      <div class='tab' routerLink="/matches" routerLinkActive="active">
        Match History
      </div>
      <!-- <div class='tab' routerLink="/hall_of_fame" routerLinkActive="active">
        Hall Of Fame
      </div> -->
      <div class='tab' routerLink="/seasons" routerLinkActive="active">
        Seasons
      </div>
    </div>
  </div>
</div>
