@import "../../_variables.scss";
.topbar {
  background-image: url('/assets/images/banner.jpg');
  margin-bottom: 40px;
  padding: 20px 80px 0 80px;
  position: relative;
  .part-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

  }
}

img {
  height: 90px;
}

.tabs {
  margin-top: 20px;
}

.tab {
  outline: none;
  font-size: 14px;
  display: inline-block;
  color: $text-gray;
  padding: 7px 13px;
  text-transform: uppercase;
  cursor: pointer;
  &.active {
    background-color: $tag-gray;
    color: $tag-green;
    font-weight: bold;
  }
}
