@import "../_variables.scss";
.topbar {
  background-image: url('/assets/images/banner.jpg');
  margin-bottom: 40px;
  padding: 20px 80px 0 80px;
  position: relative;
  .part-1 {
    display: flex;
    justify-content: space-between;
  }
}

#login {
    cursor: pointer;
  color: $text;
  background: #0E8AE0;
  border: 1px solid #095C96;
  box-shadow: 0 3px #095C96;
  border-radius: 3px;
  width: 128px;
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
}

#players {
    cursor: pointer;
  margin-top: 10px;
  text-align: center;
  background: #353535;
  border: 1px solid #404040;
  padding: 8px 10px;
  border-radius: 3px;
  color: $text-gray;
  font-size: 14px;
}

img {
  height: 90px;
}

.tabs {
  margin-top: 20px;
}

.tab {
  outline: none;
  font-size: 14px;
  display: inline-block;
  color: $text-gray;
  padding: 7px 13px;
  text-transform: uppercase;
  cursor: pointer;
  &.active {
    background-color: $tag-gray;
    color: $tag-green;
    font-weight: bold;
  }
}
